.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  color: white;
  padding-top: 50px;
}

.table {
  border: 1px solid #ddd;
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 1rem;
}

.table th,
.table td {
  padding: 0.75rem;
  vertical-align: top;
  border-top: 1px solid #ddd;
}

.table thead th {
  vertical-align: bottom;
  border-bottom: 2px solid #ddd;
}

/* Recipe Card Styling */
.recipeContainer {
  display: flex;
  justify-content: space-around;
  
}

.food-image {
  max-width: 200px;
  max-height: 200px;
  padding: 5px;
  justify-content: center;
  border-radius: 20px;
}

.recipeCard {
  margin-left: 25px;
  margin-bottom: 25px;
  border-radius: 20px;
  border: 2px solid black;
}

/* BMI Calculator */

.bmiContainer {
  display: flex;
  background-color: #007bff;
  justify-content: center;
}

.row {
  display: flex;
  justify-content: center;
  position: relative;
  left: 43%;
  width: 15%
}

/* Styles for mobile view */
@media only screen and (max-width: 767px) {
  .Nav {
    flex-direction: column;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .Nav a {
    margin-bottom: 10px;
  }

  .table {
    font-size: 14px;
  }

  .recipeContainer {
    flex-direction: column;
    align-items: center;
  }

  .recipeCard {
    margin-left: 0px;
    margin-bottom: 50px;
  }

  .row {
    left: 0%;
    width: 100%;
  }

    /* Small screens */
@media (max-width: 576px) {
  .table td, .table th {
    padding: 0.25rem;
    font-size: 0.8rem;
  }
}
}